<div class="container">
    <div class="register-form" style="width: 50%;">
        <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && addCity()">
            <div class="form-group">
                <label>City Name</label>
                <input type="text" class="form-control" name="cityName" [(ngModel)]="city.cityName" required
                    #cityName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && cityName.errors }" />
                <div *ngIf="f.submitted && cityName.errors" class="invalid-feedback">
                    <div *ngIf="cityName.errors['required']">City Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Add City</button>
            </div>
        </form>
    </div>
</div>
