/* add-new-city.component.css */

.container {
  background-color: #fff; /* White Background */
  padding: 20px;
}

.register-form {
  background-color: #f8f8f8; /* Light Gray Form Background */
  padding: 20px;
  border-radius: 10px;
}

label {
  color: #333; /* Dark Gray Label Color */
}

.form-control {
  border: 1px solid #ccc; /* Light Gray Border for Input */
  border-radius: 5px;
  padding: 8px;
}

.btn-primary {
  background-color: #D04848; /* Hot Pink Button Background */
  color: #fff; /* White Text on the Button */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition effect */
}

.btn-primary:hover {
  background-color: #d63447; /* Darker Pink Hover Effect */
}
