/* Add more global styles as needed */

.tile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Distribute tiles evenly */
  margin-top: 20px; /* Add spacing between tiles */
}

.tile {
  border: 1px solid #ddd;
  margin: 10px;
  padding: 20px;
  width: calc(30% - 20px); /* Set width for 3 tiles per row with some spacing */
  box-sizing: border-box;
  transition: transform 0.3s ease; /* Add smooth transition effect */
}

.tile:hover {
  transform: scale(1.05); /* Add slight zoom on hover effect */
}

.tile-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  height: 100%; /* Ensure content takes full height of tile */
  text-align: center;
}

.btn {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 15px;
  background-color: rgb(178,34,34); /* Red */
  color: #fff;
  border: 1px solid rgb(178,34,34);
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #c82333; /* Darker Red on hover */
  border: 1px solid #bd2130;
}

/* Add more styles as needed */
