<div class="container">
    <div class="tile-container">
      <div class="tile" *ngFor="let city of cities">
        <div class="tile-header">
            <h2>{{ city.cityName }}</h2>
          <!-- <h3>City ID: {{ city.cityId }}</h3> -->
        </div>
        <div class="tile-body">
          <!-- <p>Name: {{ city.cityName }}</p> -->
          <p>City ID: {{ city.cityId }}</p>
        </div>
        <div class="tile-footer">
          <button class="btn btn-danger" (click)="delete(city.cityId)">Delete</button>
          <!-- <button (click)="getId(city.cityId)">Search</button> -->
          <!-- <button class="btn btn-primary" (click)="edit()">Edit</button> -->
        </div>
      </div>
    </div>
  </div>
  