.container {
  margin-top: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 10px;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-top: 5px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  background-color: rgb(178,34,34); /* Red */
  color: #fff;
  border: 1px solid rgb(178,34,34);
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #c82333; /* Darker Red on hover */
  border: 1px solid #bd2130;
}


/* Add more styles as needed */
