
<label for="citySelect">Select City:</label>
<div>
    <!-- <input type="number" id="citySelect" class="form-control" [(ngModel)]="cityID"> -->
    <select  [(ngModel)]="cityId" (change)="getLocationsByCityId()">

        <option *ngFor="let item of cities" [value]="item.cityId">{{item.cityName}}</option>
    </select>
  </div>

  <label for="citySelect">Select Location</label>
<div> 
    <!-- <input type="number" id="citySelect" class="form-control" [(ngModel)]="cityId"> -->
    <select  [(ngModel)]="lid" (change)="getProductsByLocation()" >

        <option *ngFor="let item of locations" [value]="item.locId">{{item.locName}}</option>
    </select>
</div>

<!-- <label for="searchInput">Search Products:</label>
<input type="text" id="searchInput" [(ngModel)]="searchTerm">
<button (click)="searchProducts()">Search</button> -->
<div class="product-tiles">
  <div *ngFor="let item of productOffers" class="product-tile">
    <img src="http://localhost:5007/Resources/Images/{{item.uploadImg}}" alt="" class="product-image">
    <div class="product-details">
      <p class="product-name">{{item.productName}}</p>
      <p class="product-price">Price: {{item.price}} </p>
      <label for="quantity">Quantity: </label>
      <select (change)="selectQty($event)" class="quantity-select">
        <option>1</option>
        <option>2</option>
        <option>3</option>
      </select>
      <p class="offer-percentage">{{item.offerPercentage}} % offer </p>
      <button (click)="addToCart(item.productID)" class="add-to-cart-btn">Add to Cart</button>
    </div>
  </div>
</div>
